@use './Partials/header.scss' as*;
@use './Partials/textStyle.scss' as*;
@use './Partials/subSectionListStyle.scss' as*;
@use './Partials/categoryListStyle.scss' as*;
@use './Partials/productCardListStyle.scss' as*;

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

*{
    // border: 1px solid black;
    font-family: 'IBM Plex Serif', serif;
    color: black;
}

.container{
    width: 100%;
}

a{
    list-style: none;
    text-decoration: none;
}

i{
    border: 0;
    margin: 2px;
}

.sticky-top{
    position: sticky;
    top: 0;
}